n8n/bochile-camila.workflow.json
{
  "name": "[BOCHILE] Camila chat web → OpenAI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bochile-camila",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "node-webhook",
      "name": "Webhook Camila",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "bochile-camila"
    },
    {
      "parameters": {
        "jsCode": "// Entrada: body del webhook { message, history[], lang }\nconst input = $input.first().json;\nconst body = input.body || input;\nconst message = String(body.message || '').slice(0, 1000);\nconst history = Array.isArray(body.history) ? body.history.slice(-8) : [];\nconst lang = body.lang === 'en' ? 'en' : 'es';\n\n// Catalogo REAL (compacto) servido por la web\nconst catalog = await this.helpers.httpRequest({\n  url: 'https://web-bochile.onrender.com/data/catalog.min.json',\n  json: true,\n});\n\n// ---- PRE-FILTRO DETERMINISTICO ----\n// Un modelo chico no escanea confiable 235 props. Filtramos por codigo (tipo/ciudad/precio/tema)\n// + scoring de texto/direccion (tolera \"alem127\" = \"Alem 127\") y le pasamos a la LLM ~20 candidatos.\nfunction pickCandidates(msg) {\n  const norm = (s) => (s || '').toLowerCase().normalize('NFD').replace(/[̀-ͯ]/g, '');\n  const squash = (s) => norm(s).replace(/[^a-z0-9]/g, '');\n  const STOP = new Set(['me','mi','interesa','interesan','la','el','los','las','un','una','unos','unas','de','del','en','para','por','con','y','o','que','quiero','busco','buscando','necesito','hola','tienen','tenes','hay','algo','alguna','algun','sobre','propiedad','propiedades','info','informacion','cuanto','sale','vale','es','esta','estoy','al','veo','uno','ver','comprar','comprr','compra','venta','alquiler','disponible','disponibles','quisiera','gustaria','i','want','looking','for','the','an','of','in','do','you','have','about','property','house','need']);\n  const tokens = (t) => [...new Set(norm(t).split(/[^a-z0-9]+/).filter((w) => w.length >= 2 && !STOP.has(w)))];\n  function parseMaxPrice(t) {\n    const km = t.match(/(\\d{2,4})\\s*(k|mil)\\b/); if (km) return parseInt(km[1], 10) * 1000;\n    if (/(hasta|menos|presupuesto|tope|por debajo|maximo|budget|under|max|\\$|u\\$s|usd|dolar)/.test(t)) {\n      const m = t.replace(/[.\\s]/g, '').match(/(\\d{3,7})/); if (m) { let v = parseInt(m[1], 10); if (v < 1000) v *= 1000; return v; }\n    }\n    return null;\n  }\n  const t = norm(msg);\n  let res = catalog.slice();\n  if (/(depto|departamento|apartment|flat|semipiso|monoambiente)/.test(t)) res = res.filter((p) => /departamento|ph/i.test(p.type || ''));\n  else if (/duplex/.test(t)) res = res.filter((p) => /duplex/.test(norm(p.type)));\n  else if (/(lote|terreno|land|lot)/.test(t)) res = res.filter((p) => /lote|terreno/i.test(p.type || ''));\n  else if (/(local|oficina|office|comercial)/.test(t)) res = res.filter((p) => /local|oficina/i.test(p.type || ''));\n  else if (/(galpon|deposito|warehouse)/.test(t)) res = res.filter((p) => /galp/i.test(norm(p.type)));\n  else if (/(campo|field|farm)/.test(t)) res = res.filter((p) => /campo/i.test(p.type || ''));\n  else if (/(casa|house|home|chalet)/.test(t)) res = res.filter((p) => /casa/i.test(p.type || ''));\n  if (/monte hermoso/.test(t)) res = res.filter((p) => /monte hermoso/i.test(p.city || ''));\n  else if (/pehuen/.test(t)) res = res.filter((p) => /pehuen/i.test(norm(p.city)));\n  else if (/sierra/.test(t)) res = res.filter((p) => /sierra/i.test(p.city || ''));\n  else if (/bahia blanca/.test(t)) res = res.filter((p) => /bahia blanca/.test(norm(p.city)));\n  const maxP = parseMaxPrice(t);\n  if (maxP) res = res.filter((p) => p.price == null || p.price <= maxP);\n  if (/(mar|playa|sea|beach|costa|dunas|frente al mar)/.test(t)) res = res.filter((p) => /mar|playa|dunas|costaner|monte hermoso|pehuen|sauce/.test(norm((p.title || '') + ' ' + (p.zone || '') + ' ' + (p.city || ''))));\n  if (/(invers|invest|renta|pozo|rentab)/.test(t)) res = res.filter((p) => /invers|renta|pozo|oficina|local|galpon|profesional|comercial/.test(norm((p.title || '') + ' ' + (p.type || ''))));\n  const toks = tokens(t);\n  if (toks.length) {\n    const scored = res.map((p) => {\n      const haySpaced = norm((p.title || '') + ' ' + (p.zone || '') + ' ' + (p.city || '') + ' ' + (p.type || ''));\n      const haySquash = squash((p.title || '') + ' ' + (p.zone || '') + ' ' + (p.city || ''));\n      let s = 0;\n      toks.forEach((w) => {\n        if (haySpaced.includes(w)) s += (/^\\d+$/.test(w) ? 3 : 1);\n        if (w.length >= 4 && haySquash.includes(w)) s += (/\\d/.test(w) ? 4 : 1);\n      });\n      return { p, s };\n    });\n    const hits = scored.filter((x) => x.s > 0).sort((a, b) => b.s - a.s);\n    if (hits.length) res = hits.map((x) => x.p);\n  }\n  return res.slice(0, 20);\n}\n\nconst lastUser = [...history].reverse().find((h) => h && h.role === 'user' && h.content);\nlet cands = pickCandidates(message);\nif (cands.length === 0 && lastUser) cands = pickCandidates(lastUser.content + ' ' + message);\nif (cands.length === 0) cands = catalog.slice(0, 20);\n\nconst sys = [\n  lang === 'en'\n    ? 'You are Camila, a real-estate advisor at Bochile (Bahia Blanca, Argentina, since 1970). Warm, professional, concise. Reply in English.'\n    : 'Sos Camila, asesora de Bochile (inmobiliaria de Bahia Blanca, desde 1970). Calida, profesional y concisa. Trata al usuario de USTED (formal). Responde en espanol.',\n  'Abajo tenes CANDIDATOS: propiedades REALES ya PRE-FILTRADAS por codigo para esta consulta. Solo podes recomendar de esa lista. NUNCA inventes propiedades, precios ni direcciones.',\n  'IMPORTANTE: si en CANDIDATOS hay una propiedad que coincide con lo que pide el usuario (una calle, una zona, un tipo), DEBES ofrecerla — NO digas que no tenes nada. Elegi hasta 3 ids que mejor matcheen y devolvelos en \"props\".',\n  'Si la consulta es un saludo o algo general donde ningun candidato aplica, props=[].',\n  'No hay alquileres cargados (todos op=\"sale\"). Si piden alquiler, avisa con honestidad y ofrece tomar sus datos por WhatsApp.',\n  'Cuando tenga sentido, sugeri continuar por WhatsApp para coordinar con un asesor.',\n  'Numeros de WhatsApp de Bochile (son los UNICOS validos; NUNCA inventes ni des otro): para VENTA, compra, tasacion o consulta general -> +54 9 291 577 0521 (Camila / Ventas). Para ALQUILERES -> +54 9 291 507 4095. Da SIEMPRE el que corresponda segun lo que pida el usuario, y nunca un telefono inventado.',\n  'RESPONDE EXCLUSIVAMENTE en JSON valido: {\"text\": string, \"props\": string[]}. Nada fuera del JSON.',\n  'CANDIDATOS (JSON): ' + JSON.stringify(cands),\n].join('\\n');\n\nconst messages = [{ role: 'system', content: sys }];\nfor (const h of history) {\n  if (h && (h.role === 'user' || h.role === 'assistant') && h.content) {\n    messages.push({ role: h.role, content: String(h.content).slice(0, 1000) });\n  }\n}\nmessages.push({ role: 'user', content: message });\n\nreturn [{ json: { body: { model: 'gpt-4o-mini', temperature: 0.4, response_format: { type: 'json_object' }, messages } } }];\n"
      },
      "id": "node-armar",
      "name": "Armar request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "node-openai",
      "name": "OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parsea la respuesta de OpenAI -> { text, props }\nconst res = $input.first().json;\nlet out = { text: '', props: [] };\ntry {\n  const content = res.choices[0].message.content;\n  const parsed = typeof content === 'string' ? JSON.parse(content) : content;\n  out.text = String(parsed.text || '').trim();\n  out.props = Array.isArray(parsed.props) ? parsed.props.map(String).slice(0, 3) : [];\n} catch (e) {\n  out.text = '';\n}\nif (!out.text) out.text = 'Disculpe, tuve un inconveniente. Puede escribirnos por WhatsApp y lo atendemos enseguida.';\nreturn [{ json: out }];"
      },
      "id": "node-parse",
      "name": "Parsear respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "node-respond",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Camila": {
      "main": [
        [
          {
            "node": "Armar request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar request": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Parsear respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear respuesta": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}