n8n/bochile-camila.workflow.json
{
  "name": "[BOCHILE] Camila chat web → OpenAI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bochile-camila",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "node-webhook",
      "name": "Webhook Camila",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "bochile-camila"
    },
    {
      "parameters": {
        "jsCode": "/*\n * Núcleo PURO del cerebro de Camila web (sin n8n) — testeable con node.\n * Lo consume el nodo \"Armar request\" del workflow [BOCHILE] Camila chat web → OpenAI:\n * el build (_build_camila_node.cjs) toma estas funciones y las inyecta en el Code node.\n *\n * Objetivo de esta v2: arreglar el bug por el que el pre-filtro PERDÍA stock real\n * (ej. \"depto en Bahía entre 600 y 800 mil USD\" devolvía []). Causa raíz: los números\n * del RANGO de precio entraban al scoring de texto y envenenaban el ranking, expulsando\n * a Alem 127 (750k) y Torre Manantiales (680k). Fix: (1) parsear rango min/max, (2) sacar\n * los números de precio/ambientes del texto antes de tokenizar, (3) NUNCA descartar por\n * score 0 una prop que pasó los filtros duros (tipo/ciudad/precio).\n */\n\nfunction norm(s) { return (s || '').toLowerCase().normalize('NFD').replace(/[̀-ͯ]/g, ''); }\nfunction squash(s) { return norm(s).replace(/[^a-z0-9]/g, ''); }\n\n// Barrios de Bahía Blanca que la gente efectivamente escribe (curado del catastro, 146 barrios).\n// Uso: (a) si nombran un barrio, inferir que la consulta es de Bahía Blanca; (b) boostear\n// props cuyo título lo mencione. El catálogo web no tiene geo, así que esto es por texto.\nconst BARRIOS = [\n  'centro', 'microcentro', 'centro norte', 'centro sudeste', 'centro oeste',\n  'universitario', 'palihue', 'a. palihue', 'paihuen', 'patagonia', 'aldea romana',\n  'villa mitre', 'villa harding green', 'harding green', 'napostá', 'naposta',\n  'barrio parque', 'parque de mayo', 'bella vista', 'villa rosas', 'rosas',\n  'villa delfina', 'villa floresta', 'floresta', 'villa nocito', 'nocito',\n  'villa muñiz', 'villa muniz', 'villa belgrano', 'nueva belgrano', 'kilometro 5',\n  'km 5', 'ingeniero white', 'white', 'general cerri', 'gral cerri', 'cerri',\n  'spurr', 'noroeste', 'pacifico', 'pacífico', 'san martin', 'san martín',\n  'tiro federal', 'estacion sud', 'estación sud', 'altos del pinar', 'el palihue',\n  'solares norte', 'los almendros', 'las canitas', 'las cañitas', 'novaterra',\n  'portal del este', 'punta alta', 'colon', 'colón',\n];\nconst BARRIOS_SET = new Set(BARRIOS.map(norm));\n\n// Palabras a ignorar en el scoring de TEXTO (incluye términos de plata/ambientes,\n// que no son señales de búsqueda sino parámetros ya parseados aparte).\nconst STOP = new Set([\n  'me', 'mi', 'interesa', 'interesan', 'la', 'el', 'los', 'las', 'un', 'una', 'unos', 'unas',\n  'de', 'del', 'en', 'para', 'por', 'con', 'y', 'o', 'que', 'quiero', 'busco', 'buscando',\n  'necesito', 'hola', 'tienen', 'tenes', 'tienes', 'hay', 'algo', 'alguna', 'algun', 'sobre',\n  'propiedad', 'propiedades', 'info', 'informacion', 'cuanto', 'sale', 'vale', 'cuesta', 'es',\n  'esta', 'estoy', 'al', 'veo', 'uno', 'ver', 'comprar', 'comprr', 'compra', 'venta', 'alquiler',\n  'disponible', 'disponibles', 'quisiera', 'gustaria', 'zona', 'barrio',\n  // plata / rango\n  'entre', 'hasta', 'menos', 'mas', 'desde', 'tope', 'presupuesto', 'rango', 'maximo', 'minimo',\n  'aprox', 'aproximadamente', 'mil', 'millon', 'millones', 'palo', 'palos', 'dolar', 'dolares',\n  'usd', 'dolar', 'pesos', 'peso', 'precio', 'cerca',\n  // ambientes\n  'dorm', 'dormitorio', 'dormitorios', 'ambiente', 'ambientes', 'amb', 'habitacion', 'habitaciones',\n  'cuarto', 'cuartos', 'bano', 'banos',\n  // inglés frecuente\n  'i', 'want', 'looking', 'for', 'the', 'an', 'of', 'in', 'do', 'you', 'have', 'about',\n  'property', 'house', 'need', 'with', 'and', 'usd',\n]);\n\n// Convierte un número + unidad a monto. Ventas se hablan en miles de USD; alquileres en\n// pesos/mes (cientos de miles, hasta millones). \"600\" suelto (en contexto precio) = 600.000;\n// \"200k\"/\"200 mil\" = 200.000; \"1 palo/millón\" = 1.000.000; \"1,5 millones\" = 1.500.000.\nfunction amount(numStr, unit) {\n  unit = unit || '';\n  if (/millon|palo|^m$/.test(unit)) {\n    const s = String(numStr).replace(/\\s/g, '');\n    const f = /^\\d+[.,]\\d{1,2}$/.test(s) ? parseFloat(s.replace(',', '.')) : parseInt(s.replace(/[.,]/g, ''), 10);\n    return Math.round((isNaN(f) ? 0 : f) * 1000000);\n  }\n  let n = parseInt(String(numStr).replace(/[.\\s]/g, ''), 10);\n  if (isNaN(n)) return null;\n  if (/^k$|mil/.test(unit)) return n * 1000;\n  if (n < 1000) return n * 1000; // dentro de una expresión de precio, \"600\" = 600 mil\n  return n;\n}\n\n// Devuelve { min, max, spans:[strings de número usados como precio, para sacar del texto] }\nfunction parsePrice(t) {\n  // OJO con el orden: \"millones\" empieza con \"mil\", así que las unidades largas van PRIMERO\n  // o el alternador corta en \"mil\" y pierde el factor millón.\n  const U = '(millones|millon|palos|palo|mil|k)';\n  const N = '(\\\\d[\\\\d.,]*)';\n  const spans = [];\n  let min = null, max = null;\n\n  // Rango: \"entre/de/desde A (u)? y/a/hasta B (u)?\"\n  let m = t.match(new RegExp('(?:entre|de|desde|rango(?:\\\\s+de)?)\\\\s+' + N + '\\\\s*' + U + '?\\\\s*(?:y|a|al|hasta)\\\\s+' + N + '\\\\s*' + U + '?'));\n  if (m) {\n    const u = m[4] || m[2];\n    const a = amount(m[1], m[2] || u);\n    const b = amount(m[3], m[4] || u);\n    min = Math.min(a, b); max = Math.max(a, b);\n    spans.push(m[1], m[3]);\n    return { min, max, spans };\n  }\n  // Máximo: \"hasta/menos de/tope/presupuesto/por debajo de/maximo/budget/under X (u)?\"\n  m = t.match(new RegExp('(?:hasta|menos de|menor a|tope(?:\\\\s+de)?|presupuesto(?:\\\\s+de)?|por debajo de|maximo(?:\\\\s+de)?|max|budget|under)\\\\s+' + N + '\\\\s*' + U + '?'));\n  if (m) { max = amount(m[1], m[2]); spans.push(m[1]); }\n  // Mínimo: \"mas de/desde/a partir de/minimo/arriba de/over X (u)?\"\n  let m2 = t.match(new RegExp('(?:mas de|a partir de|minimo(?:\\\\s+de)?|arriba de|over)\\\\s+' + N + '\\\\s*' + U + '?'));\n  if (m2) { min = amount(m2[1], m2[2]); spans.push(m2[1]); }\n  // Monto suelto con unidad (\"500 mil dolares\", \"200k\", \"1 palo\")\n  if (min == null && max == null) {\n    let m3 = t.match(new RegExp(N + '\\\\s*' + U + '\\\\b'));\n    if (m3) { max = amount(m3[1], m3[2]); spans.push(m3[1]); }\n  }\n  return { min, max, spans };\n}\n\nfunction detectBarrio(t) {\n  for (const b of BARRIOS_SET) { if (t.includes(b)) return b; }\n  return null;\n}\n\n// Núcleo: dado el catálogo completo + el mensaje (y contexto previo), devuelve hasta CAP\n// candidatos REALES, ordenados por relevancia, garantizando no perder stock que cumple lo pedido.\nfunction pickCandidates(catalog, msg, ctx) {\n  const t = norm(msg) + (ctx ? ' ' + norm(ctx) : '');\n  let res = catalog.slice();\n\n  // ---- OPERACIÓN venta/alquiler (filtro duro) ----\n  // CRÍTICO: el campo price mezcla monedas — ventas en USD, alquileres en ARS/mes. Si no separamos\n  // por op, una consulta de compra en dólares matchea alquileres en pesos (mismos números, otra moneda).\n  const rentWords = /(alquil|arriend|\\brenta\\b|\\brento\\b|\\brentar\\b|mensual|por mes|temporario)/.test(t);\n  const saleWords = /(comprar|compra|\\bventa\\b|en venta|vender|adquirir|dueno|usd|u\\$s|dolar|dolares)/.test(t);\n  let opWanted = null;\n  if (rentWords && !saleWords) opWanted = 'rent';\n  else if (saleWords && !rentWords) opWanted = 'sale';\n  else if (!rentWords && !saleWords) opWanted = 'sale'; // default: catálogo dominante (venta, 236 vs 17)\n  if (opWanted) res = res.filter((p) => (p.op || 'sale') === opWanted);\n\n  // ---- TIPO (filtro duro) ----\n  if (/(depto|departamento|apartment|flat|semipiso|monoambiente|piso)/.test(t)) res = res.filter((p) => /departamento|ph/i.test(p.type || ''));\n  else if (/duplex/.test(t)) res = res.filter((p) => /duplex/.test(norm(p.type)));\n  else if (/(lote|terreno|land|lot)/.test(t)) res = res.filter((p) => /lote|terreno/i.test(p.type || ''));\n  else if (/(local|oficina|office|comercial)/.test(t)) res = res.filter((p) => /local|oficina/i.test(p.type || ''));\n  else if (/(galpon|deposito|warehouse)/.test(t)) res = res.filter((p) => /galp/i.test(norm(p.type)));\n  else if (/(campo|chacra|field|farm)/.test(t)) res = res.filter((p) => /campo|chacra/i.test(p.type || ''));\n  else if (/(casa|house|home|chalet|vivienda)/.test(t)) res = res.filter((p) => /casa/i.test(p.type || ''));\n\n  // ---- CIUDAD / BARRIO (filtro duro) ----\n  const barrio = detectBarrio(t);\n  if (/monte hermoso/.test(t)) res = res.filter((p) => /monte hermoso/i.test(norm(p.city)));\n  else if (/pehuen/.test(t)) res = res.filter((p) => /pehuen/i.test(norm(p.city)));\n  else if (/sierra/.test(t)) res = res.filter((p) => /sierra/i.test(p.city || ''));\n  else if (/la plata/.test(t)) res = res.filter((p) => /la plata/i.test(p.city || ''));\n  else if (/bahia/.test(t) || barrio) res = res.filter((p) => /bahia blanca/.test(norm(p.city)));\n\n  // ---- PRECIO (filtro duro) — respeta min Y max ----\n  const price = parsePrice(t);\n  if (price.min != null || price.max != null) {\n    res = res.filter((p) => {\n      if (p.price == null) return true; // \"a consultar\": candidato secundario, no se descarta\n      if (price.min != null && p.price < price.min) return false;\n      if (price.max != null && p.price > price.max) return false;\n      return true;\n    });\n  }\n\n  // ---- AMBIENTES (señal suave: ordena, no descarta) ----\n  let bedsWanted = null;\n  const mb = t.match(/(\\d)\\s*(?:dorm|dormitorio|amb|ambiente|habitac|cuarto|bed)/);\n  if (mb) { bedsWanted = parseInt(mb[1], 10); price.spans.push(mb[1]); }\n\n  // ---- TEXTO (señal blanda) — tokens SIN números de precio/ambientes ni palabras de plata ----\n  const hasPriceConstraint = price.min != null || price.max != null;\n  let clean = t;\n  price.spans.forEach((s) => { clean = clean.split(s).join(' '); });\n  let toks = [...new Set(clean.split(/[^a-z0-9]+/).filter((w) => w.length >= 2 && !STOP.has(w)))];\n\n  // Descartar tokens UBICUOS: si un token aparece en >60% de los sobrevivientes, no discrimina\n  // (es lo que ya garantizan los filtros duros, ej. \"departamento\"/\"bahia\"/\"blanca\" tras filtrar\n  // tipo+ciudad). Dejarlos inflaría por igual a todos y enterraría los matches específicos.\n  if (res.length >= 8 && toks.length) {\n    const total = res.length;\n    toks = toks.filter((w) => {\n      let df = 0;\n      for (const p of res) {\n        if (norm((p.title || '') + ' ' + (p.zone || '') + ' ' + (p.city || '') + ' ' + (p.type || '')).includes(w)) df++;\n      }\n      return df / total < 0.6;\n    });\n  }\n\n  const scoreOf = (p) => {\n    const haySpaced = norm((p.title || '') + ' ' + (p.zone || '') + ' ' + (p.city || '') + ' ' + (p.type || ''));\n    const haySquash = squash((p.title || '') + ' ' + (p.zone || ''));\n    let s = 0;\n    toks.forEach((w) => {\n      if (haySpaced.includes(w)) s += (/^\\d+$/.test(w) ? 2 : 1);\n      if (w.length >= 4 && haySquash.includes(w)) s += (/\\d/.test(w) ? 3 : 1);\n    });\n    if (barrio && haySpaced.includes(barrio)) s += 5;        // boost barrio mencionado\n    if (bedsWanted != null && p.beds === bedsWanted) s += 2; // boost ambientes exactos\n    // Si el usuario fijó precio, las props CON precio dentro del rango son lo más relevante;\n    // las \"a consultar\" (sin precio) quedan como respaldo secundario.\n    if (hasPriceConstraint && p.price != null) s += 3;\n    return s;\n  };\n\n  const scored = res.map((p) => ({ p, s: scoreOf(p), priced: p.price != null ? 1 : 0 }));\n  // Orden: score desc → con-precio antes que \"a consultar\" → desempate por precio.\n  // Con rango pedido, priorizamos precio DESC (las de mayor categoría / cerca del tope, que suelen\n  // ser las destacadas). Sin rango, precio ASC (más accesibles primero).\n  // Clave del fix: TODO lo que pasó los filtros duros sigue en la lista aunque su score sea 0;\n  // no se reemplaza la lista por \"solo los que matchean texto\" (ese era el bug original).\n  scored.sort((a, b) => b.s - a.s || b.priced - a.priced ||\n    (hasPriceConstraint ? ((b.p.price || 0) - (a.p.price || 0)) : ((a.p.price || 1e12) - (b.p.price || 1e12))));\n\n  const CAP = 30;\n  return scored.slice(0, CAP).map((x) => x.p);\n}\n\n\n// ===== Wrapper n8n: entrada webhook -> request a OpenAI (núcleo arriba) =====\nconst SYS_ES = [\"Sos Camila, asesora de Bochile Real Estate (Bahía Blanca, desde 1970). Cálida, profesional y concisa. Tratá al usuario de USTED. Respondé en español.\",\"MARCA: la empresa es SIEMPRE \\\"Bochile Real Estate\\\" y el rubro \\\"real estate\\\". NUNCA digas \\\"inmobiliaria\\\" ni \\\"inmobiliario\\\".\",\"REGLA DE ORO — LA INFORMACIÓN NO PUEDE FALLAR: todo dato que des (precio, dirección, ambientes, m²) debe estar TEXTUAL en los CANDIDATOS de abajo. Si un dato no está, NO lo digas y NO lo inventes. Ante la mínima duda, ofrecé confirmarlo por WhatsApp. Es preferible decir \\\"le confirmo ese dato por WhatsApp\\\" antes que arriesgar un dato incorrecto.\",\"Abajo tenés CANDIDATOS: propiedades REALES ya pre-filtradas por código para esta consulta (ya se respetó tipo, ciudad/barrio, venta/alquiler y rango de precio). SOLO podés ofrecer propiedades de esa lista. NUNCA inventes ni ofrezcas algo fuera de ella.\",\"Si hay candidatos que encajan, elegí los más relevantes (hasta 3) y devolvé sus ids en \\\"props\\\". Si encajan, JAMÁS digas que no tenés nada.\",\"PRECIOS (crítico): las VENTAS están en dólares (USD) y los ALQUILERES en pesos por mes (ARS). Si das un precio, copialo EXACTO del candidato y con su moneda y unidad correctas (ej. venta \\\"US$ 750.000\\\"; alquiler \\\"$ 680.000 por mes\\\"). NUNCA conviertas monedas, NUNCA redondees a otro valor, NUNCA mezcles venta con alquiler. Si la propiedad no tiene precio, decí \\\"Precio a consultar\\\" (jamás inventes un número).\",\"PRESENTACIÓN: el \\\"text\\\" tiene que ser CORTO (1 o 2 frases) y cálido. Cuando ofrezcas varias opciones, NO las listes con precio y dirección en el texto: se muestran como tarjetas debajo (esa info la pinta el sistema desde el dato real, es la fuente válida). Si el usuario pregunta por UNA propiedad puntual, ahí sí podés darle su precio exacto y ambientes tomados del candidato.\",\"ALQUILERES: ya hay alquileres publicados (departamentos, alguna casa y local; precios mensuales en pesos). Si piden alquiler y hay candidatos, ofrecelos con naturalidad. Solo si NO hay ninguno que encaje, decílo con calidez y ofrecé el WhatsApp de Alquileres +54 9 291 507 4095.\",\"CERRÁ LA ACCIÓN: terminá siempre con un próximo paso claro — invitar a abrir la propiedad (la tarjeta) o a coordinar una visita/consulta por WhatsApp. No dejes la conversación sin una acción ni con un dato a medias.\",\"Si es un saludo o algo general donde ningún candidato aplica, props=[] y respondé amablemente orientando qué puede buscar (comprar/alquilar, tipo, zona, presupuesto).\",\"WhatsApp de Bochile (los ÚNICOS válidos, NUNCA inventes otro): para VENTA, compra, tasación o consulta general → +54 9 291 577 0521. Para ALQUILERES → +54 9 291 507 4095. Dá SIEMPRE el que corresponde a lo que pide el usuario.\",\"RESPONDÉ EXCLUSIVAMENTE en JSON válido: {\\\"text\\\": string, \\\"props\\\": string[]}. Nada fuera del JSON.\"];\nconst SYS_EN = [\"You are Camila, a real-estate advisor at Bochile Real Estate (Bahía Blanca, Argentina, since 1970). Warm, professional, concise. Reply in English.\",\"BRAND: always call the company \\\"Bochile Real Estate\\\" and the field \\\"real estate\\\". NEVER use the word \\\"inmobiliaria\\\".\",\"GOLDEN RULE — INFORMATION MUST NEVER BE WRONG: every fact you state (price, address, bedrooms, m²) must appear VERBATIM in the CANDIDATES below. If a fact is not there, do NOT state it and do NOT invent it. When in doubt, offer to confirm it on WhatsApp. Better to say \\\"I will confirm that on WhatsApp\\\" than to risk a wrong fact.\",\"Below are CANDIDATES: REAL properties already pre-filtered by code for this query (type, city/neighborhood, sale/rent and price range already respected). You may ONLY offer properties from that list. NEVER invent or offer anything outside it.\",\"If candidates fit, pick the most relevant (up to 3) and return their ids in \\\"props\\\". If they fit, NEVER say you have nothing.\",\"PRICES (critical): SALES are in US dollars (USD), RENTALS in pesos per month (ARS). If you state a price, copy it EXACTLY from the candidate with the right currency/unit (e.g. sale \\\"US$ 750,000\\\"; rental \\\"$ 680,000 per month\\\"). NEVER convert currencies, NEVER round to another value, NEVER mix sale with rent. If a property has no price, say \\\"Price on request\\\" (never invent a number).\",\"PRESENTATION: keep \\\"text\\\" SHORT (1-2 sentences) and warm. When offering several options, do NOT list them with price and address in the text — they render as cards below (rendered by the system from real data, the valid source). If the user asks about ONE specific property, you may give its exact price and rooms taken from the candidate.\",\"RENTALS: rentals are now published (apartments, a house and a commercial unit; monthly prices in pesos). If the user asks for a rental and there are candidates, offer them naturally. Only if none fit, say so warmly and offer the Rentals WhatsApp +54 9 291 507 4095.\",\"CLOSE THE ACTION: always end with a clear next step — invite to open the property (card) or to coordinate a visit/inquiry on WhatsApp. Never leave the conversation without an action or with a half-given fact.\",\"If it is a greeting or something general where no candidate applies, props=[] and answer helpfully.\",\"Bochile WhatsApp numbers (the ONLY valid ones, NEVER invent another): SALES/buying/appraisal/general → +54 9 291 577 0521. RENTALS → +54 9 291 507 4095.\",\"Reply EXCLUSIVELY in valid JSON: {\\\"text\\\": string, \\\"props\\\": string[]}. Nothing outside the JSON.\"];\n\nconst input = $input.first().json;\nconst body = input.body || input;\nconst message = String(body.message || '').slice(0, 1000);\nconst history = Array.isArray(body.history) ? body.history.slice(-8) : [];\nconst lang = body.lang === 'en' ? 'en' : 'es';\n\n// Catálogo REAL servido por la web (ventas USD + alquileres ARS, separados por op).\nconst catalog = await this.helpers.httpRequest({\n  url: 'https://web-bochile.onrender.com/data/catalog.min.json',\n  json: true,\n});\n\n// Arrastra contexto: si el mensaje nuevo es corto (\"y más barato?\"), reusa el último del usuario.\nconst lastUser = [...history].reverse().find((h) => h && h.role === 'user' && h.content);\nlet cands = pickCandidates(catalog, message, lastUser ? lastUser.content : '');\nif (cands.length === 0 && lastUser) cands = pickCandidates(catalog, lastUser.content + ' ' + message);\nif (cands.length === 0) cands = catalog.filter((p) => (p.op || 'sale') === 'sale').slice(0, 20);\n\nconst sys = (lang === 'en' ? SYS_EN : SYS_ES).join('\\n') + '\\nCANDIDATOS (JSON): ' + JSON.stringify(cands);\n\nconst messages = [{ role: 'system', content: sys }];\nfor (const h of history) {\n  if (h && (h.role === 'user' || h.role === 'assistant') && h.content) {\n    messages.push({ role: h.role, content: String(h.content).slice(0, 1000) });\n  }\n}\nmessages.push({ role: 'user', content: message });\n\nreturn [{ json: { body: { model: 'gpt-4o-mini', temperature: 0.4, response_format: { type: 'json_object' }, messages } } }];\n"
      },
      "id": "node-armar",
      "name": "Armar request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "node-openai",
      "name": "OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parsea la respuesta de OpenAI -> { text, props }\nconst res = $input.first().json;\nlet out = { text: '', props: [] };\ntry {\n  const content = res.choices[0].message.content;\n  const parsed = typeof content === 'string' ? JSON.parse(content) : content;\n  out.text = String(parsed.text || '').trim();\n  out.props = Array.isArray(parsed.props) ? parsed.props.map(String).slice(0, 3) : [];\n} catch (e) {\n  out.text = '';\n}\nif (!out.text) out.text = 'Disculpe, tuve un inconveniente. Puede escribirnos por WhatsApp y lo atendemos enseguida.';\nreturn [{ json: out }];"
      },
      "id": "node-parse",
      "name": "Parsear respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "node-respond",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Camila": {
      "main": [
        [
          {
            "node": "Armar request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar request": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Parsear respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear respuesta": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}